<!DOCTYPE html>

<htmlxmlns="w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"> 
                
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Sistema do Studio Virtual</h1>
        <nav>
            <a th:href="cliente" >Agendamento<a/>
            <a th:href="cliente" >Listagem de Agendamento<a/>
            <a th:href="produtos" >Estoque<a/>
        </nav>
    </body>
</html>
